#footer {
    height: 120px;
    padding: 1%;
}

#footer .container {
    width: 100%;
}

a {
    margin: 0 auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.rowImage {
    width: 80px;
}

.rowLink {
    text-align: center;
}

.rowImage {
    align-self: center;
}

.rowImage img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}