section {
  padding: 70px 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.white-border {
  height: 2em;
  background-color: rgb(231, 229, 229);
}

.position,
.employee {
  font-size: 1em;
}

#cloud {
  color: white !important;
}

#car-content{
  background-color: rgba(0, 0, 0, 0.473);
  height: 100%;
}

.robo-icon {
  width: 200px;
  margin: 0 auto;
}
.robo-icon img {
  width: 100%;
}

